<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NBA Bracket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/bracket.css">

</head>

<body>
<header>
    <h1>NBA Bracket</h1>
</header>
<div class="main-body">
    <section id="bracket">
        <div class="container">
            <div class="split west">
                <div class="round round-one">
                    <div class="round-details">Western Conference Round 1<br/></div>
                    <ul class="matchup">
                        <li class="team team-top" id="gsw">
                            <span class="team-name">WARRIORS</span>
                            <input class="value scoreinput" id="W11I" onchange="outputFunc('#W11I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom" id="lac">
                            <span class="team-name">CLIPPERS</span>
                            <input class="value scoreinput" id="W12I" onchange="outputFunc('#W12I', '.west')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top" id="hsr">
                            <span class="team-name">ROCKETS</span>
                            <input class="value scoreinput" id="W13I" onchange="outputFunc('#W13I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom" id="uta">
                            <span class="team-name">JAZZ</span>
                            <input class="value scoreinput" id="W14I" onchange="outputFunc('#W14I', '.west')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top" id="ptb">
                            <span class="team-name">TRAIL BLAZERS</span>
                            <input class="value scoreinput" id="W15I" onchange="outputFunc('#W15I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom" id="okc">
                            <span class="team-name">THUNDER</span>
                            <input class="value scoreinput" id="W16I" onchange="outputFunc('#W16I', '.west')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top" id="dvn">
                            <span class="team-name">NUGGETS</span>
                            <input class="value scoreinput" id="W17I" onchange="outputFunc('#W17I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom" id="sas">
                            <span class="team-name">SPURS</span>
                            <input class="value scoreinput" id="W18I" onchange="outputFunc('#W18I', '.west')" value="0" type="number">
                        </li>
                    </ul>

                </div>  <!-- END ROUND ONE -->

                <div class="round round-two">
                    <div class="round-details">Western Conference Semi-Finals<br/></div>
                    <ul class="matchup">
                        <li class="team team-top lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W21I" onchange="outputFunc('#W21I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W22I" onchange="outputFunc('#W22I', '.west')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W23I" onchange="outputFunc('#W23I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W24I" onchange="outputFunc('#W24I', '.west')" value="0" type="number">
                        </li>
                    </ul>
                </div>  <!-- END ROUND TWO -->

                <div class="round round-three">
                    <div class="round-details">Western Conference Finals<br/></div>
                    <ul class="matchup">
                        <li class="team team-top lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W31I" onchange="outputFunc('#W31I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W32I" onchange="outputFunc('#W32I', '.west')" value="0" type="number">
                        </li>
                    </ul>
                </div>  <!-- END ROUND THREE -->
            </div>

            <div class="champion west east">
                <div class="final">
                    <i class="fa fa-trophy"></i>
                    <div class="round-details">championship <br/></div>
                    <ul class ="matchup championship">
                        <li class="team team-top champ lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="W41I" onchange="outputFunc('#W41I', '.west')" value="0" type="number">
                        </li>
                        <li class="team team-bottom champ lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E41I" onchange="outputFunc('#E41I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                </div>
            </div>


            <div class="split east">


                <div class="round round-three">
                    <div class="round-details">Eastern Conference Finals<br/></div>
                    <ul class="matchup">
                        <li class="team2 team-top lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E31I" onchange="outputFunc('#E31I', '.east')" value="0" type="number">
                        </li>
                        <li class="team2 team-bottom lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E32I" onchange="outputFunc('#E32I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                </div>  <!-- END ROUND THREE -->

                <div class="round round-two">
                    <div class="round-details">Eastern Conference Semi-Finals<br/></div>
                    <ul class="matchup">
                        <li class="team2 team-top lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E21I" onchange="outputFunc('#E21I', '.east')" value="0" type="number">
                        </li>
                        <li class="team2 team-bottom lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E22I" onchange="outputFunc('#E22I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">
                        <li class="team2 team-top lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E23I" onchange="outputFunc('#E23I', '.east')" value="0" type="number">
                        </li>
                        <li class="team2 team-bottom lock">
                            <span class="team-name"></span>
                            <input class="value" style="display:none;" id="E24I" onchange="outputFunc('#E24I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                </div>  <!-- END ROUND TWO -->

                <div class="round round-one current">
                    <div class="round-details">Eastern Conference Round 1<br/></div>
                    <ul class="matchup">
                        <li class="team2 team-top" id="mwb">
                            <span class="team-name">BUCKS</span>
                            <input class="value scoreinput2" id="E11I" onchange="outputFunc('#E11I', '.east')" value="0" type="number">
                        </li>
                        <li class="team2 team-bottom" id="dtp">
                            <span class="team-name">PISTONS</span>
                            <input class="value scoreinput2" id="E12I" onchange="outputFunc('#E12I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">

                        <li class="team2 team-top" id="boc">
                            <span class="team-name">CELTICS</span>
                            <input class="value scoreinput2" id="E13I" onchange="outputFunc('#E13I', '.east')" value="0" type="number">
                        </li>

                        <li class="team2 team-bottom" id="inp">
                            <span class="team-name">PACERS</span>
                            <input class="value scoreinput2" id="E14I" onchange="outputFunc('#E14I', '.east')" value="0" type="number">
                        </li>

                    </ul>
                    <ul class="matchup">
                        <li class="team2 team-top" id="phi">
                            <span class="team-name">76ERS</span>
                            <input class="value scoreinput2" id="E15I" onchange="outputFunc('#E15I', '.east')" value="0" type="number">
                        </li>
                        <li class="team2 team-bottom" id="bkn">
                            <span class="team-name">NETS</span>
                            <input class="value scoreinput2" id="E16I" onchange="outputFunc('#E16I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                    <ul class="matchup">
                        <li class="team2 team-top" id="tra">
                            <span class="team-name">RAPTORS</span>
                            <input class="value scoreinput2" id="E17I" onchange="outputFunc('#E17I', '.east')" value="0" type="number">
                        </li>
                        <li class="team2 team-bottom" id="orl">
                            <span class="team-name">MAGIC</span>
                            <input class="value scoreinput2" id="E18I" onchange="outputFunc('#E18I', '.east')" value="0" type="number">
                        </li>
                    </ul>
                </div>  <!-- END ROUND ONE -->
            </div>
        </div>
    </section>

    <section class="IO">

        <button onclick="location.href='/main';" class="ret">Return to Menu</button>
        <button class="sub" onclick="testFunct()">Submit Your Predictions</button>
    </section>

    <div class="modal" id="stats">
        <div class="formbox">
            <h1>Predictions Submitted!</h1>
            <p>Your predictions have been submitted!</p>
            <button onclick="location.href='/main';" class="ret">Return to Menu</button>
            <button onclick="document.getElementById('stats').style.display='none'" class="sub">Change Your Predictions</button>
        </div>
    </div>


</div>


<script type="text/javascript" th:src="@{/js/bracket.js}"></script>

</body>
</html>